[submodule "src/ext/xxHash"]
	path = src/ext/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/ext/spdlog"]
	path = src/ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/ext/pybind11"]
	path = src/ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/ext/mimalloc"]
	path = src/ext/mimalloc
	url = https://github.com/microsoft/mimalloc.git
