[submodule "src/ext/xxHash"]
	path = src/ext/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/ext/spdlog"]
	path = src/ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/ext/stb/stb"]
	path = src/ext/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "src/ext/json"]
	path = src/ext/json
	url = https://github.com/nlohmann/json.git
[submodule "src/ext/glfw"]
	path = src/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/ext/imgui/imgui"]
	path = src/ext/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/ext/EASTL"]
	path = src/ext/EASTL
	url = https://github.com/LuisaGroup/EASTL.git
[submodule "src/ext/pybind11"]
	path = src/ext/pybind11
	url = https://github.com/pybind/pybind11
[submodule "src/ext/parallel-hashmap"]
	path = src/ext/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "src/ext/unordered_dense"]
	path = src/ext/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
